 <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{#each posts}}
        <div class="post-preview">
          <a href="/posts/{{_id}}">
            <h2 class="post-title">
              {{title}}
            </h2>
            <h3 class="post-subtitle">
              {{short}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{author}}</a>
            on {{prettifyDate created_at}}</p>
        </div>
        {{else}}
        <p>записей нету</p>
        {{/each}}
        <hr>
       {{#if posts}}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="/page/{{index}}">Следующие записи &rarr;</a>
        </div>

        {{/if}}
      </div>
    </div>
  </div>